<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PRM_portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.portal.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProcessNames</servlet-name>
    <url-pattern>/getprocessnames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProcessNames</servlet-name>
    <servlet-class>com.portal.servlets.GetProcessNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSession</servlet-name>
    <url-pattern>/getsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSession</servlet-name>
    <servlet-class>com.portal.servlets.GetSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.portal.servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProcess</servlet-name>
    <servlet-class>com.portal.servlets.CreateProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProcess</servlet-name>
    <url-pattern>/createprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.portal.servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProcessState</servlet-name>
    <servlet-class>com.portal.servlets.GetProcessState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProcessState</servlet-name>
    <url-pattern>/getprocessstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartProcess</servlet-name>
    <servlet-class>com.portal.servlets.StartProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartProcess</servlet-name>
    <url-pattern>/startprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQuestion</servlet-name>
    <servlet-class>com.portal.servlets.GetQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestion</servlet-name>
    <url-pattern>/getquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAnswer</display-name>
    <servlet-name>SetAnswer</servlet-name>
    <servlet-class>com.portal.servlets.SetAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAnswer</servlet-name>
    <url-pattern>/setanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAnsStatus</display-name>
    <servlet-name>SetAnsStatus</servlet-name>
    <servlet-class>com.portal.servlets.SetAnsStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAnsStatus</servlet-name>
    <url-pattern>/setansstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnswer</display-name>
    <servlet-name>GetAnswer</servlet-name>
    <servlet-class>com.portal.servlets.GetAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswer</servlet-name>
    <url-pattern>/getanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProcessHome</display-name>
    <servlet-name>GetProcessHome</servlet-name>
    <servlet-class>com.portal.servlets.GetProcessHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProcessHome</servlet-name>
    <url-pattern>/getprocesshome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllQuestions</display-name>
    <servlet-name>GetAllQuestions</servlet-name>
    <servlet-class>com.portal.servlets.GetAllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllQuestions</servlet-name>
    <url-pattern>/getallquestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSignUp</display-name>
    <servlet-name>CheckSignUp</servlet-name>
    <servlet-class>com.portal.servlets.CheckSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSignUp</servlet-name>
    <url-pattern>/checksignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetStartTime</display-name>
    <servlet-name>SetStartTime</servlet-name>
    <servlet-class>com.portal.servlets.SetStartTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStartTime</servlet-name>
    <url-pattern>/setstarttime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResult</display-name>
    <servlet-name>GetResult</servlet-name>
    <servlet-class>com.portal.servlets.GetResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResult</servlet-name>
    <url-pattern>/getresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllResults</display-name>
    <servlet-name>GetAllResults</servlet-name>
    <servlet-class>com.portal.servlets.GetAllResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllResults</servlet-name>
    <url-pattern>/getallresults</url-pattern>
  </servlet-mapping>
</web-app>