{{page-title "Finished"}}
<center>
<h2>You have answered all questions</h2>
<form  action="http://localhost:8080/PRM_portal/logout">
    <input class="button-red" type="submit" value="LogOut" />
</form>
</center>